<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5"></nav>
<div class="container">
    <a class="navbar-brand" href="/post"><i class="fab fa-linkedin fa-2x"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item mt-2 pt-1">
                <a class="nav-link active d-flex flex-column text-center" aria-current="page" href="/post">
                    <i class="fas fa-home fa-lg"></i>
                    <span class="small p-2"> Home</span>
                </a>
            </li>
            <li class="nav-item mt-2 pt-1">
                <a class="nav-link d-flex flex-column text-center" aria-current="page" href="/my-posts">
                    <i class="fas fa-save fa-lg"></i>
                    <span class="small p-2"> My Posts</span>
                </a>
            </li>
            <li class="nav-item mt-2 pt-1">
                <a class="nav-link d-flex flex-column text-center" aria-current="page" href="/post/add-post">
                    <i class="fas fa-plus fa-lg"></i>
                    <span class="small p-2"> Add Post</span>
                </a>
            </li>

            <li class="nav-item mt-2 pt-1">
                <a class="nav-link d-flex flex-column text-center" aria-current="page" href="/my-network">
                    <i class="fa-solid fa-users-line fa-lg"></i>
                    <span class="small p-2">My Network</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle"
                        height="30" alt="Profile" />
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/profile">My profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</nav>