<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            background-color: #f0f0f0;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        h1 {
            font-size: 4em;
            margin: 0;
        }

        p {
            font-size: 1.2em;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .link {
            display: inline-block;
            margin-top: 20px;
            font-size: 1.2em;
            color: #007bff;
            text-decoration: none;
        }

        .link:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Oops!</h1>
        <p>We couldn't find the page you're looking for.</p>
        <img src="https://img.freepik.com/free-vector/404-error-with-cute-animal-concept-illustration_114360-1880.jpg?t=st=1724071429~exp=1724075029~hmac=7e39b14daec4f922fa38f94e1408e84c4ebbd91ce4529d87ea5af001957e390c&w=740"
            width="300" alt="Funny 404 Image">
        <p>It seems like you've hit a dead end.</p>
        <a href="/post" class="link">Go back to the homepage</a>
    </div>
</body>

</html>